@tailwind base;

body,
a {
  @apply text-baltic-sea;
}

.unstyle-button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
}
.unstyle-button:hover,
.unstyle-button:focus,
.unstyle-button:active {
  outline: none;
}

.unstyle-a {
  outline: none;
  text-decoration: none;
}
.unstyle-a:hover,
.unstyle-a:focus,
.unstyle-a:active {
  text-decoration: none;
  outline: none;
}

.transition-transform-quick {
  transition: transform 0.2s ease-in;
}
.transition-opacity-quick {
  transition: opacity 0.2s ease-in;
}
.transition-transform-opacity-quick {
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.logo-scaled {
  transform: scale(1.2);
}

@screen sm {
  .sm\:header-translated {
    transform: translateY(1rem);
  }
  .sm\:header-not-translated {
    transform: none;
  }
  .sm\:logo-scaled {
    transform: scale(2) translateX(0.75rem);
  }
}

@tailwind utilities;
